[Unit]
Description=OpenCloud collaboration container
After=network-online.target
PartOf=opencloud.target
Requires=collabora.service
After=collabora.service
Requires=opencloud.service
After=opencloud.service

[Container]
Image=docker.io/opencloudeu/opencloud-rolling:3
AutoUpdate=registry
Timezone=local
User=0
Network=opencloud.network
NetworkAlias=wopiserver

Entrypoint=["/bin/sh"]
Exec=-c 'opencloud collaboration server'

Environment=COLLABORATION_GRPC_ADDR=0.0.0.0:9301
Environment=COLLABORATION_HTTP_ADDR=0.0.0.0:9300
Environment=MICRO_REGISTRY=nats-js-kv
Environment=MICRO_REGISTRY_ADDRESS=opencloud:9233
Environment=COLLABORATION_WOPI_SRC=https://wopiserver.mydomain.com
Environment=COLLABORATION_APP_NAME=CollaboraOnline
Environment=COLLABORATION_APP_PRODUCT=Collabora
Environment=COLLABORATION_APP_ADDR=https://collabora.mydomain.com
Environment=COLLABORATION_APP_ICON=https://collabora.mydomain.com/favicon.ico
Environment=COLLABORATION_APP_INSECURE=false
Environment=COLLABORATION_CS3API_DATAGATEWAY_INSECURE=false
Environment=OC_LOG_LEVEL=warn
Environment=OC_LOG_COLOR=true
Environment=OC_LOG_PRETTY=true
Environment=OC_URL=https://opencloud.mydomain.com

Volume=%h/opencloud/config:/etc/opencloud:z

[Service]
Restart=always

[Install]
WantedBy=opencloud.target
