[Unit]
Description=OpenCloud s3proxy container
After=network-online.target
PartOf=opencloud.target

[Container]
Image=docker.io/andrewgaul/s3proxy:master
AutoUpdate=registry
Timezone=local
Network=opencloud.network
NetworkAlias=s3proxy

Environment=S3PROXY_ENDPOINT=http://0.0.0.0:8080
Environment=S3PROXY_AUTHORIZATION=aws-v2-or-v4
Environment=S3PROXY_IDENTITY=--REDACTED--
Environment=S3PROXY_CREDENTIAL=--REDACTED--
Environment=S3PROXY_ENCRYPTED_BLOBSTORE=true
Environment=S3PROXY_ENCRYPTED_BLOBSTORE_PASSWORD=--REDACTED--
Environment=S3PROXY_ENCRYPTED_BLOBSTORE_SALT=--REDACTED--
Environment=JCLOUDS_PROVIDER=aws-s3
Environment=JCLOUDS_IDENTITY=--REDACTED--
Environment=JCLOUDS_CREDENTIAL=--REDACTED--
Environment=JCLOUDS_ENDPOINT=--REDACTED--

[Service]
Restart=always

[Install]
WantedBy=opencloud.target